/* #testimonials {
  padding-bottom: 8rem;
} */
.swiper {
  height: fit-content;
  padding-bottom: 4rem;
  padding-top: 1rem;
}
.swiper-slide {
  cursor: grab;
}
.testimonial__client {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.testimonial__client-avatar {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius-2);
  overflow: hidden;
  transition: var(--transition);
}
.swiper-pagination {
  margin-bottom: 1rem;
}
.swiper-pagination-bullet {
  background: var(--color-primary);
}

/* Media Queries for Tablets */

@media screen and (max-width: 1024px) {
}

/* Media Queries for Phones */

@media screen and (max-width: 600px) {
}
